@import "../../scss-variables/variables.scss";

.job-listing {
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 5px;
  width: 100%;
  position: relative;
  &:focus {
      background-color: rgb(233, 233, 251);
  }
  #trashcan {
    position: absolute;
    right: 8px;
    bottom: 5px;
  }
  .company-logo {
    font-size: 6.5px;
    background-image: linear-gradient(
      135deg,
      rgb(109, 0, 0),
      black,
      rgb(109, 0, 0)
    );
    display: flex;
    justify-content: center;
    color: white;
    display: inline-block;
    padding: 10px;
    height: 42px;
    width: 42px;
    margin: 5px;
    display: flex;
    align-items: center;
  }
  .description {
    display: flex;
    flex-direction: column;
    .jobtitle {
      color: $theme;
      font-size: 18px;
      font-weight: 600;
    }
    h2 {
      font-size: 15px;
      color: gray;
      font-weight: 300;
      margin: 2.5px;
      font-weight: 400;
    }
    .company-name {
      color: rgb(39, 39, 39);
      font-weight: 600;
    }
  }
}

#dark-background {
  position: fixed;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: .65;
}

.job-section {
    overflow-y: scroll;
}

@media all and (min-width: 550px) {
  .job-listing {
    width: 550px;
    margin: 0 auto;
  }
}

@media all and (min-width: 760px) {
  .job-listing {
    width: 760px;
    margin: 0 auto;
  }
}
@media all and (min-width: 1100px) {
  .job-listing {
    width: 500px;
  }
  .job-section {
    width: 500px;
  }
  .main-job-container {
    display: flex;
    flex-direction: row;
    width: 1000px;
    background-color: white;
    margin: 0 auto;
    height: 758px;
    overflow-x: hidden;
    div {
        display: flex;
        flex-direction: column;
    }
}
}
