@import "../../scss-variables/variables.scss";

.title-section {
    height: 65px;
    background-color: $theme;
    color: white;
    display: flex;
    flex-direction: column;
    h1 {
        font-weight: 500;
        font-size: 18px;
        margin-left: 8px;
        margin-top: 12px;
        width: 92%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        margin-left: 8px;
    }
}

@media all and (min-width: 550px) {
    .title-section {
        width: 550px;
        margin: 0 auto;
    }
}
@media all and (min-width: 760px) {
    .title-section {
        width: 760px;
        margin: 0 auto;
    }
}
@media all and (min-width: 1100px) {
    .title-section {
        width: 500px;
        margin: 0 auto;
    }
}